
torch
torchvision
torchaudio
opencv-python
Pillow
numpy
pandas
scikit-learn
scipy

matplotlib
seaborn

grad-cam

fastapi
uvicorn
python-multipart
pydantic


langchain
langchain-core
langchain-community
langgraph


faiss-cpu

sentence-transformers
transformers
huggingface-hub

openai
python-dotenv

reportlab

deep-translator


gTTS


streamlit

sqlalchemy

requests
tqdm
PyYAML